<p>Booking {{model.blNumber}}</p>
<p>Containers</p>
{{loading-button
  type='success'
  buttonIcon=buttonIcon
  text=(if model.watch 'Unwatch' 'Watch')
  buttonTask=toggleWatch
}}
<ul>
  {{#each model.containers as |container|}}
    <li>{{container.size}} {{container.containerType}} {{container.number}}</li>
  {{/each}}
</ul>
